header, main, footer{
  min-width: 855px;
}

footer{
  background-color: lightgray;
  overflow: auto;
}

header{
  overflow: auto;
}

.container{
  max-width: 855px;
  margin: auto;
}

h1, h2, h3, h4, h5, p, a, li{
  font-family: 'Ruda', sans-serif;
}

header nav{
  border: 1px dashed gray;
  padding: 5px;
  float: right;
  position: relative;
  bottom: 100px;
}

.registration{
  margin-top: 40px;
  background-color: lightgray;
  float:right;
}

footer .contact{
  float: left;
}

footer .help{
  position: relative;
  left: 250px;
}

footer .sitemap{
  float: right;
}
